.root {
  display: block;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  &:not(.isUsed) {
    position: relative;

    > :last-child {
      padding-bottom: 100vh;
    }

    &::before,
    &::after {
      transform: translate(-50%, 0);
      position: absolute;
      left: 50%;
    }

    &::before {
      content: 'I hope they know they can tap one of those cards up there';
      bottom: 7rem;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      width: 13rem;
      background-color: #fff;
      font-family: ABCSans;
      font-size: 1rem;
      text-align: center;
    }

    &::after {
      content: '';
      bottom: 2rem;
      padding-bottom: 50%;
      width: 8rem;
      height: 0;
      background-image: url('./up.png');
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }

    & ~ * {
      display: none;
    }
  }

  [role='tablist'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    > * {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 320px;
      background-image: none;

      @media (min-width: 61.25rem) {
        margin: 0 0.75rem;
      }
    }
  }
}

.hasActive {
}

.isFirst {
}

.isUsed {
}

.before {
  text-align: center;

  &::after {
    content: 'choose a question card';
    display: block;
    margin-top: 1.5rem;
    padding-top: 3.5rem;
    background-image: url(./headphones.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 3.75rem 3.125rem;
    font-family: ABCSerif, sans-serif;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: normal;
  }
}

.tab {
  display: inline-block;
  position: relative;
  margin: 1.5rem 0;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: opacity 0.5s;

  &[aria-selected='false'] {
    cursor: pointer;

    .root.isFirst:not(.isUsed) [role='tablist'] > * > &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 5rem;
      height: 5rem;
      background-image: url(./tap.svg);
      background-repeat: no-repeat;
      background-size: 100%;

      @media (min-width: 43.75rem) {
        width: 6.25rem;
        height: 6.25rem;
      }
    }

    .root.isFirst:not(.isUsed) [role='tablist'] > :first-child > &::after {
      transform: scale(-1, 1);
      right: auto;
      left: 0;
    }

    .hasActive & {
      opacity: 0.33;
    }
  }
}

.tape {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  padding: 0.5rem 1.5rem;
  min-width: 12rem;
  min-height: 2.5rem;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  font-family: ABCSerif, sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  white-space: nowrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: 100% auto;

  :focus &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1.25%;
    width: 97.5%;
    height: 95%;
    outline: auto;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.handwriting {
  transform: scale(1.2, 1);
  margin: 1.25rem 0 1.5rem;
  padding: 0 3rem;
  color: rgba(19, 26, 49, 0.8);
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2.5rem;
  line-height: 1.25;
}

.smallerHandwriting {
  composes: handwriting;
  font-size: 2.125rem;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.panel {
  animation: enter 1s ease forwards;

  &[aria-hidden='true'] {
    display: none;
  }

  > div {
    margin-bottom: inherit;
    width: auto;

    @media (max-width: 43.75rem) {
      margin-left: -.9375rem;
      margin-right: -.9375rem;
    }

    @media (min-width: 43.75rem) and (max-width: 61.25rem) {
      margin-left: -10%;
      margin-right: -10%;
    }

    @media (min-width: 61.25rem) {
      margin-left: -12.5%;
      margin-right: -12.5%;
    }
  }

  > p {
    line-height: 1.666666667;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
