.root {
  display: block;
  margin-bottom: 0 !important;

  &:not(.isUsed) {
    position: relative;

    > :last-child {
      padding-bottom: 100vh;
    }

    &::before,
    &::after {
      transform: translate(-50%, 0);
      position: absolute;
      left: 50%;      
    }

    &::before {
      content: "I wonder if they know the storyʼs up there?";
      bottom: 7rem;
      border-radius: .5rem;
      padding: .5rem 1rem;
      width: 13rem;
      background-color: #fff;
      font-family: ABCSans;
      font-size: 1rem;
      text-align: center;
    }

    &::after {
      content: "";
      bottom: 2rem;
      padding-bottom: 50%;
      width: 8rem;
      height: 0;
      background-image: url('./up.png');
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }

    & ~ * {
      display: none;
    }
  }

  [role="tablist"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    > * {
      display: inline-block;
      margin: 0 .5rem;
      padding: 0;
      width: 320px;
      max-width: calc(100% - 1rem);
      background-image: none;
      
      @media (min-width: 61.25rem) {
        margin: 0 3rem;
      }
    }
  }
}

.hasActive {
  
}

.isUsed {
  
}

.before {
  text-align: center;
}

.tab {
  display: inline-block;
  position: relative;
  margin: 1.5rem 0;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: opacity .5s;

  &[aria-selected="false"] {
    cursor: pointer;

    .hasActive & {
      opacity: .33;
    }
  }

  &[aria-selected="true"] {
    
  }
}

.tape {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  padding: .5rem 1.5rem;
  min-width: 12rem;
  min-height: 2.5rem;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  font-family: ABCSerif, sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  white-space: nowrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .125rem;
  padding: 1.5rem 1rem 1rem;
  min-height: 180px;
  background-color: white;
  background-image: url(./paper.png);
  background-position: 0 -1.5rem;
  background-size: 120% auto;

  :focus & {
    outline: auto;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.handwriting {
  color: black;
  font-size: 1.75rem;
  line-height: 1.25;
}

.smallerHandwriting {
  composes: handwriting;
  font-size: 1.5rem;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.panel {
  animation: enter 1s ease forwards;

  &[aria-hidden="true"] {
    display: none;
  }

  > div {
    margin-bottom: inherit;
    width: auto;

    @media (max-width: 43.75rem) {
      margin-left: -.9375rem;
      margin-right: -.9375rem;
    }

    @media (min-width: 43.75rem) and (max-width: 61.25rem) {
      margin-left: -10%;
      margin-right: -10%;
    }

    @media (min-width: 61.25rem) {
      margin-left: -25%;
      margin-right: -25%;
    }
  }

  > p {
    line-height: 1.666666667;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

