.root {
  margin-bottom: 0 !important;
}

.graphic {
  margin: 2rem auto 0;
  width: 17.5rem;
  height: 16rem;
  background-image: url(./sign-up.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
