:global .Header-content::before {
  content: "";
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 50%;
  width: 166px;
  height: 75px;
  background-image: url(./brand.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

:global .Header-content h1 {
  padding-top: 2.5rem;
}
