:global .Header-content::before {
  content: "";
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 50%;
  width: 130px;
  height: 68px;
  background-image: url(./header-branding.png);
  background-size: 100% auto;
}

:global .Header-content h1 {
  padding-top: 2.5rem;
}
